* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background-color: #F6F4F4;
  font-family: "Lato", serif;
  font-weight: 400;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

button {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

button img {
  width: 28px;
  height: 28px;
}

button .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  width: 28px;
  height: 28px;
}

button:hover img, button:active img {
  -webkit-animation: decrease linear 0.3s;
          animation: decrease linear 0.3s;
}

button h1, button h2 {
  color: #242424;
}

.menu {
  margin-right: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  display: none;
  cursor: pointer;
}

.menu span, .menu::before, .menu::after {
  position: absolute;
  height: 2px;
  width: 100%;
  margin: 0px auto;
  background-color: #1f1a1a;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.menu::before, .menu::after {
  content: "";
}

.menu::before {
  top: 7px;
}

.menu::after {
  bottom: 3px;
}

.menu span {
  top: 14px;
}

.menu.is-active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.is-active::before {
  display: none;
}

.menu.is-active::after {
  bottom: 0;
  top: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 720px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-logo {
  padding-left: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #1f1a1a;
}

@media (max-width: 450px) {
  .page-logo {
    padding-left: 5px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .notes {
  margin-top: 10px;
  margin-left: 275px;
  min-height: 100%;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 25px;
  float: left;
  background-color: transparent;
}

.main .notes .note {
  line-height: 20px;
  padding: 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
  color: #1f1a1a;
  margin: 0px 0px -1px 0px;
  z-index: 1;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.main .notes .note.is-working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .notes-title {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .notes-title P {
  white-space: nowrap;
  padding-top: 3px;
}

@media (max-width: 720px) {
  .main .notes {
    margin-left: 5px;
  }
}

.main .aside {
  position: fixed;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  background-color: #DFDFDF;
  padding: 22px 0px 0px 25px;
}

@media (max-width: 890px) {
  .main .aside {
    position: absolute;
    width: 220px;
  }
  .main .notes {
    margin-left: 245px;
  }
}

@media (max-width: 810px) {
  .main .aside {
    position: absolute;
    width: 80px;
  }
  .main .aside .logo-text {
    display: none;
  }
  .main .notes {
    margin-left: 105px;
  }
}

@media (max-width: 550px) {
  .main .aside {
    position: absolute;
    width: 61px;
    padding-left: 15px;
  }
  .main .aside .img-box {
    margin: 0;
  }
  .main .notes {
    margin-left: 85px;
  }
}

.main .aside.is-open {
  display: block;
}

.note .tagget {
  content: "";
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  border: 2px solid #1f1a1a;
}

.note .tagget::after {
  content: "";
  display: none;
  height: 6px;
  width: 3px;
  border-right: 2px solid #1f1a1a;
  border-bottom: 2px solid #1f1a1a;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  margin-left: 6px;
  margin-bottom: 2px;
  z-index: 0;
}

.note .tagget:hover::after {
  display: block;
}

.note .tagget.active {
  background-color: #1f1a1a;
}

.note .tagget.active::after {
  border-color: #DFDFDF;
  display: block;
}

.note p {
  margin-left: 15px;
  margin-right: 10px;
  width: 100%;
  line-height: 18px;
}

.note .star {
  content: "";
  line-height: 20px;
  float: right;
  height: 20px;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  min-width: 20px;
  cursor: pointer;
}

.note .star:hover {
  opacity: 1;
}

.note .star .star2 {
  display: none;
}

.note::after {
  z-index: -1;
  bottom: -1px;
  left: 0;
  height: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  position: absolute;
  -webkit-transition: all 0.36s linear;
  transition: all 0.36s linear;
  content: '';
  width: 100%;
  background-color: #DFDFDF;
}

.note:hover:after, .note:active:after {
  height: 100%;
}

.star.active .star1 {
  display: none;
}

.star.active .star2 {
  display: block;
  margin-top: 3px;
}

.form-for-add {
  max-width: 100%;
  text-align: right;
}

.form-for-add button {
  margin: 3px 0px 0px auto;
}

.form-for-add #input-for-add {
  font-weight: 300;
  resize: vertical;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 250px;
  margin-top: 15px;
  width: 100%;
  font-size: 14px;
  border: none;
  background-color: #DFDFDF;
  border-radius: 3px;
  outline: none;
  padding: 10px 20px;
  min-height: 40px;
}

.form-for-add .title-section-add {
  float: left;
}

.window-confirm-deletion .window-confirm-deletion-title {
  margin-bottom: 5px;
  color: #000;
}

.window-confirm-deletion .buttons {
  margin-top: 10px;
}

.window-confirm-deletion.is-active {
  display: block;
}

.load-icon {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
}

.load-icon img {
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  width: 40px;
  max-width: 40px;
  height: 40px;
}

.load-icon.is-working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.load-icon.is-working img {
  -webkit-animation: linear;
          animation: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.noNotes-wrapper {
  display: none;
  margin-top: 6px;
  text-align: center;
  color: #000;
}

.noNotes-wrapper.is-working {
  display: block;
}

.footer {
  margin-top: 15px;
  background-color: #DFDFDF;
  padding: 15px 0px;
  font-size: 14px;
  text-align: center;
}

.is-invisible {
  display: none;
}

.button-navigation {
  margin-top: 20px;
}

@-webkit-keyframes decrease {
  50% {
    width: 16px;
    height: 16px;
  }
  0% {
    width: 28px;
    height: 28px;
  }
}

@keyframes decrease {
  50% {
    width: 16px;
    height: 16px;
  }
  0% {
    width: 28px;
    height: 28px;
  }
}

.box-button-navigation {
  margin-top: 100px;
}
/*# sourceMappingURL=index.css.map */